{% extends 'base.html' %}
{% block title %}Записи сообщества {{ group.title }}{% endblock %}
  {% block content %}
    <h1> {{ group.title }} </h1>
    <p>{{ group.description|linebreaksbr }}</p>
    {% for post in page_obj %}
    {% include 'posts/includes/page_body.html' %} 
    {% if post.group %}
      <a href="{% url 'posts:profile' post.author %}">Профиль автора: "{{ post.author.get_full_name }}"</a>
      <!-- Добрый день, Антон, не совсем понятно каких ссылок не хватает, в тз их не было. Исходя из разумных соображений прикрутил эту. -->
    {% endif %}        
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}   
   
  {% include 'posts/includes/paginator.html' %}
{% endblock %}

 
